* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	padding: 0 2rem;
	font-size: 1.6rem;
	background-color: #0e1931;
	color: #d0deeb;
}

.main {
	width: 100%;
	min-width: 100%;
}

.index__title {
	padding: 2rem 0;
	font-size: 4rem;
	border-bottom: 1px solid #3d609b;
}

.index__text {
	margin: 1rem 0;
	padding: 1rem;
	font-size: 2rem;
}

#text__link {
	margin-left: 1rem;
}

.index__navbar {
	padding: 0 4rem;
}

.index__navbar__list__item {
	font-size: 2rem;
}

.index__link {
	text-decoration: none;
	color: #98ca3c;
}

.index__link:hover {
	display: inline-block;
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
}

.subtitle {
	font-size: 2rem;
	margin: 2rem 0;
}

.main__percentages {
	display: flex;
	flex-direction: column;
}

.percentages__result {
	display: flex;
	width: fit-content;
	height: 400px;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.percentages__form {
	display: flex;
	flex-direction: column;
}

.input {
	margin-bottom: 1rem;
}

.error {
	border: 1px solid red;
	outline: none;
}

#btnClick {
	display: block;
	padding: 0.5rem;
	font-size: 1.8rem;
	margin: 1rem auto;
}
