* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	padding: 0 2rem;
	font-size: 1.6rem;
	background-color: #0e1931;
	color: #d0deeb;
}

.index__title {
	padding: 2rem 0;
	font-size: 4rem;
	border-bottom: 1px solid #3d609b;
}

.index__text {
	margin: 1rem 0;
	padding: 1rem;
	font-size: 2rem;
}

#text__link {
	margin-left: 1rem;
}

.index__navbar {
	padding: 0 4rem;
}

.index__navbar__list__item {
	font-size: 2rem;
}

.index__link {
	text-decoration: none;
	color: #98ca3c;
}

.index__link:hover {
	display: inline-block;
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
}

/* .index__navbar__list__item:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease;
} */
